<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="warn" name="IRCbutt">
    <Appenders>
        <File name="File" fileName="ircbutt.log">
            <PatternLayout
                    pattern="%d{MM/dd/yyyy - hh:mm} [%level] | %logger{36} -> %M() -> %msg%n" />
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{MM/dd/yyyy - hh:mm} [%level] %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <logger name="net.alureon.ircbutt" level="ALL" additivity="false">
            <AppenderRef ref="File" level="WARN" />
            <AppenderRef ref="Console" level="ALL"/>
        </logger>
        <Root level="INFO">
        </Root>
    </Loggers>
</Configuration>